@import url('https://fonts.googleapis.com/css2?family=Oswald:wght&display=swap');

:root {
    --black: #000;
	--white: #fff;
    --red: #cc0000;
    --blue: #191b6d;
    --light-blue: #8C8DB5;
    --gray: #f1f1f1;
    --light-gray: #ebebeb;
    --light-black: #262626;
    --lighter-black: #7f7f7f;
    --h1: 24px;
    --h2: 19px;
    --h3: 14px;
    --h4: 27px;
    --h5: 24px;
    --h6: 21px;
    --p: 16px;
    --h11: 72px;
    --h22: 66px;
    --h33: 60px;
    --h44: 52px;
    --h55: 48px;
    --h66: 42px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.light-dark-checkbox:checked + .light-dark-checkbox-label .light-dark-ball {
    transform: translateX(24px);
}
body {
    font-family: 'Oswald', sans-serif;
    background: var(--white);
}
body.dark {
    background: var(--black);
}
.light-dark-checkbox {
    opacity: 0;
    position: absolute;
}
.light-dark-checkbox-label {
    background: var(--black);
}
body.dark .light-dark-checkbox-label {
    background: var(--white);
}
.light-dark-ball {
    background: var(--white);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50px;
    transition: transform 0.2s linear;
}
body.dark .light-dark-ball{
    background: var(--black);
}
.light-dark-checkbox-label {
    background: var(--black);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: var(--h1);
    font-weight: 600;
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
p {
    color: var(--black);
    font-size: var(--p);
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}
ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
    list-style-type: none;
    text-decoration: none;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover,a:focus {
	opacity: 0.75;
}
html {
  scroll-behavior: smooth;
}
/*Header*/
header {
	background: var(--blue);
	color: var(--white);
	position: absolute;
	width: 100vw;
	padding: 12px;
    z-index: 99;
}
@media only screen and (max-width: 1000px) {
    .overlay {
        display:flex;
        height: 0%;
        width: 100vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(46,50,63, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }
}
#container {
	display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#container img {
	height: 29px;
}
nav {
    left: 90px;
    display: flex;
    text-align: left;
}
@media only screen and (max-width: 1000px) {
	nav {
        left: 0;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }
}
nav ul {
    color: var(--white);
	display: flex;
	text-align: center;
	height: auto;
	align-items: center;
	margin: 0 auto;
    width: 100%;
}
@media only screen and (max-width: 1000px) {
	nav ul {
        color: var(--light-gray);
        display: flex;
		flex-direction: column;
	}
}
nav ul li {
    margin-right: 30px;
	font-size: var(--h2);
}
@media only screen and (max-width: 1000px) {
	nav ul li {
        display: flex;
        margin-right: 0;
		margin-bottom: 16px;
        padding: 8px;
	}
}
nav ul li:hover {
    color: var(--red);
    width: 100%;
    display: block;
    text-decoration: none;
}
@media only screen and (max-width: 1000px) {
    nav ul li:hover {
        border: 1px solid var(--white);
        transition: 0.3s;
    }
}
.closeMenu {
    display:none;
}
@media only screen and (max-width: 1000px) {
    .closeMenu {
        display: flex;
        position: absolute;
        right: 10px;
        font-size: var(--h1);
        color: var(--light-gray);
    }
}
.nav-hamburger-label {
	display: none;
}
@media only screen and (max-width: 1000px) {
    .nav-hamburger-label {
        display: flex;
        font-size: var(--h2);
        cursor: pointer;
        padding-left: 2%;
    }
}